html {
    background: black;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://html-pedia.narod.ru/background/night-sky/night-sky-2.gif)
}

body {
    color: gainsboro;
    opacity: .8;
    width: 40%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 2em 2em 4em;
}


input {
    background-color: midnightblue;
    opacity: .7;
    color: gainsboro;
    padding: 15px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 10%;
    font-size: 16px;
}

#txt_width
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}